@import "~materialize-css/dist/css/materialize.min.css";

.App {
  text-align: center;
}

.App-logo {
  height: 10vmin;
}

.App-header {
  position: sticky;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-height: 10vh;
  padding: 0 10px;
  font-size: calc(10px + 2vmin);
  background-color: #282c34;
  color: white;
  z-index: 1000;
}

.App-link {
  color: #09d3ac;
}

.add-todo {
  position: sticky;
  top: calc(10vh + 20px);
  z-index: 1000;
}

.todo {
  margin-bottom: 1rem;
}

.todo.completed span {
  text-decoration: line-through;
}

.todo label {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
  background: #f3f3f3;
  padding: 1rem;
}

.todo i {
  z-index: 2;
}
.edit {
  margin-left: 10px;
}
